:host {
  font-family: 'Raleway', sans-serif;
}

.title {
  color: #ffda2a;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text {
  font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 80%;
}
