:host {
  color: white;
  background-color: #171717;
}

::ng-deep {

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #333;
}

  ::-webkit-scrollbar-track-piece {
    background-color: #eee;
  }
}
