<div class="logo">
  <a href="https://artlist.io"><img src="assets/images/logo.svg" alt=""></a></div>

<header class="header">
  <div class="header__content">
    <div class="header__content__title">We want your<br>inspiring music</div>
    <div class="header__content__subtext">Get your music into films, videos & TV all<br>around the world. Join the
      Artlist family.
      <div class="header__content__arrow"><img src="assets/images/Scroll_Down.svg" alt="" (click)="scroll(footer)"></div>
    </div>
  </div>
</header>


<div class="content">
  <section class="artists">
    <h2>Join leading artists around the world</h2>
    <div class="artists__list">
      <art-card image="d96468a308290d9a8a90936ade2053c8471474e6" type="Musicians" artist="Geva Alon"
        profession="Rock-folk artist"></art-card>
      <art-card image="6c7bc9f34a4af2ba1b954c914781fc6b0e215aaf" type="Producers" artist="Kick Lee"
        profession="Composer-Producer"></art-card>
      <art-card image="1877a0db7d322d314f71e939c5054f29023aad3f" type="Composers" artist="Vlad Morleo"
        profession="Classical piano composer"></art-card>
      <art-card image="8e764f5285f568ffca91887795888ae897af38e8" type="Agents" artist="Davis Absolute"
        profession="Agent"></art-card>
    </div>


    <section class="info">
      <div class="info__title">Keep doing your thing</div>
      <div class="info__info-boxes">
        <info-box title="Keep your rights" text="It's your music and you keep all of the rights."></info-box>
        <info-box title="Revenue"
          text="Join the growing sync-licensing market and tap into a whole new revenue stream."></info-box>
        <info-box title="Inspire"
          text="Let your music help to tell the story and be the soul of films around the world."></info-box>
        <info-box title="Non-exclusive"
          text="You can license with Artlist and still distribute/license your music anywhere else you choose.">
        </info-box>
        <info-box title="Expand your reach"
          text="See your social and streaming channels grow as your music is recognized in thousands of films worldwide.">
        </info-box>
        <info-box title="Creative community" text="Distribute your music through one of the top
        music licensing platforms in the world, and be part of a select group of composers and indie artists.">
        </info-box>
      </div>
    </section>

  </section>

</div>

<div class="check">
  <div class="check__content">
    <div class="check__content__title">Things to check <br> before we start</div>
    <div class="check__content__list">
      <ul>
        <li>You have full rights to the music.</li>
        <li>The music can be used on any platform worldwide</li>
        <li>Your press kit is complete with photos, bio and great music.</li>
      </ul>
    </div>
    <div class="check__content__button">
      <button>Start Free Now</button>
    </div>
  </div>
</div>

<footer #footer>
  <div class="footer">
    <div class="footer__mail"><a href="#">artist@artlist.io</a></div>
    <div class="right">
      <ul class="social">
        <li><a href="https://www.facebook.com/Artlist.io" title="Facebook" target="_blank"><i
              class="fa fa-facebook-f"></i></a></li>
        <li><a href="https://www.instagram.com/artlist.io/" title="Instagram" target="_blank"><i
              class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/Art_list_io" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li><a href="https://vimeo.com/artlist" title="Vimeo" target="_blank" id="artlist-vimeo-link"><i
              class="fa fa-vimeo"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCXNK0IHTX0BoktdtKjqIWoA" title="Youtube" target="_blank"><i
              class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
