<form action="" [formGroup]="frmRegister">
  <section class="about">
    <div class="about__title">Submit your music</div>

    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput color="primary" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" formControlName="email">
      <mat-label>E-mail</mat-label>
      <input matInput color="primary" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <mat-select>
        <mat-option [value]="'Canada'">Canadada</mat-option>
        <mat-option [value]="'Iran'">Iran</mat-option>
        <mat-option [value]="'Israel'">Israel</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bio</mat-label>
      <textarea matInput color="primary" type="text" rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>What do you do?</mat-label>
      <input matInput color="primary" type="text" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Portfolio links</mat-label>
      <input matInput color="primary" type="text" autocomplete="off">
    </mat-form-field>

    <div class="about__pro">
      <span> Are you registered with a pro?</span>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="true" style="margin-right: 10px;">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>
    </div>
  </section>


  <section class="music">
    <div class="music__title"><span class="music__title__upload">Upload music</span>4-6 songs</div>

    <div class="music__upload">
      <label class="music__upload__label" for="upload"><span class="yellow">Click to upload</span> or drag and drop
        here</label>
      <h6>MP3/WAV format</h6>
      <input type="file" accept="audio/mp3,audio/*;capture=microphone">
    </div>

    <div class="music__declerations">
      <mat-checkbox>I have full rights for the music.</mat-checkbox>
      <mat-checkbox>None of the songs are a cover of another artis's material.</mat-checkbox>
      <mat-checkbox>The music is clear for use in any web platform, including YouTube monetization.</mat-checkbox>
    </div>

    <section class="submit">
      <button type="submit" class="submit"> Submit</button>
    </section>


  </section>
</form>
